@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

.navbar {
    background: #444;
    transition: all .6s;
    backface-visibility: hidden;
    box-shadow: 0 2px 5px 1px rgba(51, 51, 51, 0.5);
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}

.navbar-dark .navbar-toggler {
    border-color: #444;
}

.navbar-dark .navbar-toggler:focus {
    background: none;
    outline: 0;
}

.navbar-dark .navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: #fff;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar-dark .navbar-toggler:hover span,
.navbar-dark .navbar-toggler:focus span {
    background: #ccc;
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

.navbar-brand {
    width: 162px;
    height: 44px;
    background: url(../img/logo.png) left center no-repeat;
    border: 0;
    text-indent: -99999px;
}

.navbar-dark .navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: #fff;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"]{
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    border-bottom: solid 1px #dddddd;
    transition-duration: 0.4s;
}

input[type="text"]:focus{
    border-bottom: solid 1px #38ef7d;
    transition-duration: 0.4s;
}

body{
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

button{
    padding: 0;
    border: none;
    background: none
}

/*Content*/
/*--head*/
.todolist{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todolist__main{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    padding: 25px 0px;
    border-radius: 20px;
    width: 400px;
}

.todolist__header{
    padding: 0px 20px;
}

.todolist__header--date{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todolist__header--date span:nth-child(1){
    font-size: 48px;
    color: #858585;
    font-weight: 400;
}

.warpper{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.warpper span:nth-child(1){
    font-size: 16px;
    color: #858585;
    font-weight: 500;
}

.warpper span:nth-child(2){
    font-size: 16px;
    color: #858585;
    font-weight: 300;
}

.add__input{
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.add__circle{
    margin-left: auto;
    cursor: pointer;
}

.ion-plus-circled{
    font-size: 60px;
    color: #00cebd;
    transition-duration: 0.4s;
}

.ion-plus-circled:hover{
    color: #11998e;
    transition-duration: 0.4s;
}


/*--result*/
/*fix size of task list*/
.todolist__result{
    overflow-y: scroll;
    height: 300px;
}

/*overflow scroll without scrollbar*/
.todolist__result::-webkit-scrollbar { width: 0 !important }

.list__task{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.list__task:hover{
    border-left: solid 5px #38ef7d;
    background-color: #eeeeee;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.list__task i{
    font-size: 20px;
}

.list__task--check{
    color: #aaaaaa;
    transition-duration: 0.4s;
}

.list__task--text{
    margin: 10px;
    transition-duration: 0.4s;
}


.list__task--del{
    color: #aaaaaa;
    margin-left: auto;
    margin-right: 10px;
}


.ion-ios-checkmark:hover{
    color: #00881d;
    transition-duration: 0.4s;
}


.ion-android-delete:hover{
    color: #f78604;
    transition-duration: 0.4s;
}

/*ClassList Toggle : checked*/
.list__task--checked{
    color: #00881d;
}

.list__task--text--checked{
    margin-left: 10px;
    margin: 10px;
    color: #aaaaaa;
    text-decoration: line-through;
    transition-duration: 0.4s;
}
